ol{
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}
body{
    overflow-x: hidden;
}
.title{
    display: block;
    background-color: #013476;
    height: 100px;
    border: solid black 2px;
}
.title > header{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: white;
    position: relative;
    top: 30px;
}
#Cardiac{
    color:black;
    font-family: 'Playfair Display', serif;
    display:block;
}
.heartlogo{
    width: 50%;
}
.testtype{
    color: black
} 

img{
    height: 200px;
    width: 200px;
}
*{
    text-align: center;
}
.test1 img{
    width: 50%;
    border-radius: 5%;
}
.test2 img{
    width: 50%;
    border-radius: 5%;
}
.test3 img{
    width: 50%;
    border-radius: 5%;
}
.test4 img{
    width: 50%;
    border-radius: 5%;
}
.test5 img{
    width: 50%;
    border-radius: 5%;
}
.test6 img{
    width: 50%;
    border-radius: 5%;
}
.test7 img{
    width: 50%;
    border-radius: 5%;
}
.heading{
    border-radius: 2%;
    position: relative; 
    padding: 10px;
    margin: 10px;
    border: 10px solid #363062;
    background-color: #2c83c0;
    width: 50%;
    padding-bottom: 5%;
    margin-bottom: 10px;
    margin-left: 25.7%;
}
.test1{
    padding: 10px;      
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: #007aff;
    width: 50%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem; 
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
    margin-top: 30px;

    
}
.test2{
    padding: 10px;
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: #339e9e;
    width: 50%;
    margin-left: 25.7%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}
.test3{
    padding: 10px;
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: white;
    width: 50%;
    margin-left: 45%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}
.test4{
    padding: 10px;
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: #007aff;
    width: 50%;
    margin-left: 25.7%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}
.test5{
    padding: 10px;
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: #2c83c0;
    width: 50%;
    margin-right: 25%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}
.test6{
    padding: 10px;
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: #339e9e;
    width: 50%;
    margin-left: 25.7%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}
.test7{
    padding: 10px;
    margin: 10px;
    border: 10px solid #A9A9A9;
    background-color: white;  
    width: 50%;
    margin-left: 45%;
    border: 10px solid #363062;
    border-style: outset;
    border-start-end-radius: 1rem 1rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}
.text1{
font-size: larger;
}

